* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* remove header class in lines 12, 19, 24 */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* 
remove lines 30-34 due to conflict with lines 11-15 */
/* .header  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} */

/* Add nav to CSS */
header nav ul {
    list-style-type: none;
}

/* add nav to CSS */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/* combine all previous classes to create one .benefit1 class with the same properties. Lines 101 - 109 commented out of code. */
.benefit1 {
    margin-bottom: 32px;
    color: #ffffff;
}

/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* all h3 combined with .benefit1 as well. Lines 117-125 commented out of code. */
.benefit1 h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* .benefit1 h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit1 h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* All images combined to .benefit1 img - lines 134-144 commented out of code. */
.benefit1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* .benefit1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* created a single .main__section class. Lines 156-172 commented out of code. */
.main__section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Created .main__section img class. Lines 178-184 commented out with new code. */
.main__section img {
    max-height: 200px;
}

/* .online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

/* Created .main__section h2. Lines 193-201 commented out. */
.main__section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* change footer to agree with <h3> tag */
footer h3 {
    font-size: 20px;
}
